.container {
    padding: 20px;
    background: white;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }



.tabHeader {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tabHeader button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px;
  }
  .subTitle{
    text-align: center;
  }
  
  .tabHeader button:hover {
    background-color: #0056b3;
  }
  
  .tabContent {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  form label {
    width: 350px;
  }

  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  button[type="button"] {
    height: 40px;
    // margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #0056b3;
  }

  .input_wrapper{
display: flex;
gap: 20px;
width: 100%;
flex-direction: row;
align-items: flex-end;
  }